//colors
$darkGreen: #1e3932;
$lime: #008248;
$fadedGreen: #d4e9e2;
$lightGreen: #f1f8f6;
$brown: #f3f1e7;
$black: #000000;

//formatting
$maxWidth: 1440px;

@mixin centerFlex {
  display: flex;
  align-items: center;
}

@mixin button {
  padding: 7px 16px;
  border-radius: 50px;
  border: 1px solid $black;
  background: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
