@import "../../styles/variables";

.card {
  @include centerFlex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  gap: 2rem;

  img {
    width: 4rem;
  }

  h3 {
    font-size: 19px;
  }

  p {
    line-height: 24px;
  }
}
