@import "../../styles/variables";

.footer {
  margin-top: 3rem;
  padding: 4rem 0;
  border-top: 2px solid #dddddd;

  &__container {
    width: 100%;
    max-width: $maxWidth;
    @include centerFlex;
    flex-direction: column;
    margin: 0 auto;

    &__list {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 3.2rem;

      .column {
        width: 190px;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h3 {
          font-size: 19px;
          font-weight: 400;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          li {
            color: rgba(0, 0, 0, 0.58);

            a {
              text-decoration: none;
              color: inherit;
              font-size: 16px;
              line-height: 1.5;
            }
          }
        }
      }
    }
    hr {
      width: 100%;
      margin: 3.2rem 0;
      border-color: #dddddd;
    }

    &__socials {
      width: 100%;
      display: flex;
      list-style: none;
      gap: 1rem;
      margin-bottom: 2rem;

      li {
        svg {
          width: 32px;
          height: 32px;
          overflow: visible;
          fill: black;
        }
      }
    }

    &__links {
      width: 100%;
      list-style: none;
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;

      li {
        a {
          text-decoration: none;
          color: #000000de;
          font-size: 16px;
        }
      }

      span {
        color: rgba(0, 0, 0, 0.58);
        padding: 0 0.8rem;
        width: 1px;
      }
    }

    &__copyright {
      width: 100%;
      color: rgba(0, 0, 0, 0.58);
      font-size: 14px;
    }
  }
}
